@implements IDisposable

<g id="@Cluster.Id" class="cluster @Cluster.CssClass" transform="translate(@Cluster.X.ToInvariantString(), @Cluster.Y.ToInvariantString())">
    <g class="cluster-shape">
        @if (Cluster.Shape == NodeShape.Circle)
        {
            <Circle Bounds="Cluster.Bounds" />
        }
        else if (Cluster.Shape == NodeShape.Ellipse)
        {
            <Ellipse Bounds="Cluster.Bounds" />
        }
        else
        {        
            <Rectangle Bounds="Cluster.Bounds" RadiusX="Cluster.RadiusX" RadiusY="Cluster.RadiusY" />
        }
    </g>
    @if (!string.IsNullOrWhiteSpace(Cluster.Label)) {
        <g class="label">
            <foreignObject 
                x="@(Cluster.Bounds!.X.ToInvariantString())"
                y="@((Cluster.Bounds!.Height / 2).ToInvariantString())" 
                width="@Cluster.Bounds!.Width.ToInvariantString()" 
                height="@Constants.LabelHeight"
            >
                <div title="@Cluster.Label">@Cluster.Label</div>
            </foreignObject>
        </g>
    }
    @if (Graph.EnableProfiling) {
        <circle cx="0" cy="0" r="1" fill="red"></circle>
    }
</g>

@code {
    private IGraphViewModel? graph;
    [CascadingParameter] public virtual IGraphViewModel Graph { get; set; } = null!;
    
    private IGraphElement? element;
    [Parameter] public virtual IGraphElement Element { get; set; } = null!;

    protected virtual IClusterViewModel Cluster => (IClusterViewModel)this.Element;

    protected bool isDirty = false;       
    protected ProfilingTimer? profilingTimer;
    protected bool enableProfiling
    {
        get => this.Graph?.EnableProfiling ?? false;
        set
        {
            if (this.Graph != null && this.Graph.EnableProfiling != value) {
                this.Graph.EnableProfiling = value;
            }
            if (value) this.CreateProfilingTimer();
        }
    }

    protected virtual void CreateProfilingTimer()
    {
        if (this.profilingTimer == null)
            this.profilingTimer = new ProfilingTimer("ClusterTemplate", 3);
    } 

    protected override void OnParametersSet()
    {
        if (this.graph != this.Graph)
        {
            this.graph = this.Graph;
            this.isDirty = true;
        }
        if (this.element != this.Element)
        {
            this.element = this.Element;
            this.Cluster.Changed += this.TriggerRender;
            this.isDirty = true;
        }
        if (this.enableProfiling) this.CreateProfilingTimer();
        this.profilingTimer?.Start();
    }

    protected void TriggerRender(object? sender, EventArgs e)
    {
        this.profilingTimer?.Start();
        this.isDirty = true;
        this.StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        this.profilingTimer?.Stop();
    }

    protected override bool ShouldRender()
    {
        if (!this.isDirty) return false;
        this.isDirty = false;
        return true;

    }

    private bool disposed;
    protected virtual void Dispose(bool disposing)
    {
        if (!this.disposed)
        {
            this.Cluster.Changed -= this.TriggerRender;
            if (this.enableProfiling && this.profilingTimer != null)
            {
                this.profilingTimer.Dispose();
            }
            this.disposed = true;
        }
    }

    public void Dispose()
    {
        this.Dispose(disposing: true);
        GC.SuppressFinalize(this);
    }
}
